@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-2/Ubuntu-Bold.eot');
  src: url('../fonts/Ubuntu-2/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Ubuntu-2/Ubuntu-Bold.woff2') format('woff2'), url('../fonts/Ubuntu-2/Ubuntu-Bold.woff') format('woff'), url('../fonts/Ubuntu-2/Ubuntu-Bold.ttf') format('truetype'), url('../fonts/Ubuntu-2/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
}
.faq {
  background: url('../img/interactive/accordion-background.png');
  background-size: cover;
  padding: 6rem 0 10rem 0;
}
.accordion-item {
  margin: 0.5rem;
}
.accordion-header {
  margin: 0;
  padding: 0;
}
.accordion-header h1 {
  text-transform: uppercase;
  text-align: center;
}
.accordion-button,
.accordion-button:hover,
.accordion-button:active,
.accordion-button:focus {
  background-color: #0bbaf0;
  border: none;
  outline: none;
  margin: 0;
  padding: 1.3rem 2.3rem;
  width: 100%;
  font-family: 'Ubuntu', san-serif;
  color: #fff;
  font-size: 2.32rem;
}
.accordion-body {
  position: relative;
  border: 0.4rem solid #dcdcdc;
  border-top: none;
  border-radius: 0 0 1rem 1rem;
  margin: 0 auto -0.5rem auto;
  padding: 1rem 2rem 4rem 2rem;
  width: 99%;
  font-family: 'Ubuntu', san-serif;
  font-size: 2.2rem;
  font-weight: 400;
}
hr {
  width: 20%;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Ubuntu', san-serif;
  font-size: 2.4rem;
  color: #0bbaf0;
}
h1 span {
  font-size: 3.6rem;
  font-weight: 900;
}
.account-container {
  background: url(../img/interactive/pattern-form.png);
  background-size: cover;
  -webkit-box-shadow: 0px 0px 30px 39px rgba(0, 0, 0, 0.38) inset;
  box-shadow: 0px 0px 30px 39px rgba(0, 0, 0, 0.38) inset;
  padding: 2rem 9rem 4rem 9rem;
  width: 800px;
}
.nav {
  margin-left: 2.4rem;
  margin-bottom: -0.3rem;
  border: none;
}
.nav-link {
  background-color: #fff;
  margin-right: 1rem;
  padding-top: 0;
  font-size: 2.4rem;
  font-weight: normal;
  color: #000;
}
.nav-link .login {
  padding: 0 3rem;
}
.nav-tabs .nav-link {
  border-top-left-radius: .7rem;
  border-top-right-radius: 0.7rem;
}
.nav-link:hover {
  color: #000;
}
.nav-link.active {
  background: radial-gradient(circle, #0494bf 0%, #03a6dc 100%);
  border: none;
  border-top-left-radius: .7rem;
  border-top-right-radius: .7rem;
  color: #fff;
}
.nav-tabs .nav-link.active {
  color: #fff;
  text-shadow: 1px 1px 2px black;
}
.nav-link.active:focus,
.nav-link.active:active {
  text-shadow: 1px 1px 2px black;
  color: #ffffff;
}
.tab-content {
  background: radial-gradient(circle, #0494bf 0%, #03a6dc 100%);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.75) inset;
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.75) inset;
  border: 1px solid #047ca0;
  border-radius: 1rem;
  width: 100%;
  padding: 2.4rem;
}
.tab-content form {
  background-color: #000;
  border-radius: 1rem;
  width: 100%;
  padding: 7.7rem 4rem 1rem 5.5rem;
}
.tab-content form input {
  display: inline-block;
  margin-bottom: 3rem;
  width: 100%;
  height: 6rem;
  background-color: #1c1b1b;
  border-radius: 1rem;
  font-size: 2.4rem;
}
.tab-content form input::-webkit-input-placeholder {
  padding-left: 2.2rem;
  color: #ffffff;
}
.tab-content form button {
  display: block;
  position: relative;
  background: #7f0501;
  background: -webkit-gradient(linear, left top, right top, from(#7f0501), color-stop(38%, #cf2303), to(#7f0501));
  background: linear-gradient(90deg, #7f0501 0%, #cf2303 38%, #7f0501 100%);
  -webkit-box-shadow: 0px 12px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 12px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 0;
  margin-top: -2.5rem;
  margin-left: auto;
  right: -7.4rem;
  padding: 0 3.4rem 1rem 2.7rem;
  height: 4.2rem;
  text-align: left;
  font-size: 2.4rem;
  color: #fff;
}
.tab-content form button:hover {
  color: #fff;
}
.tab-content .psw {
  margin-bottom: 0;
}
.tab-help {
  margin: 2.2rem 0 0 2.2rem;
}
.tab-help p {
  font-size: 2.2rem;
  font-weight: normal;
  color: red;
}
.tab-help .notion {
  display: inline;
  margin-top: 6rem;
  margin-bottom: 0;
  width: 1.5rem;
  height: 1.5rem;
}
.tab-help label {
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: 0;
  color: #6f6d6d;
  font-size: 2rem;
  font-weight: normal;
}
