form{
	width: 570px;
	height: 570px;
	background-image: url(../img/f-backgr.png);
	display: flex;
	justify-content: center;
	align-items: center;
}

fieldset, p{
	background-color: #fff;
	width: 317px;
	height: 373px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


input, label{
 margin: 0px 27px;
}

label{
margin-bottom: 13px;
font-weight: 500;
}

input{
	border: #969696;
	border-radius: 6px;
	background-image: url(../img/f-backgr.png);
	height: 30px;
}
input.btn{
	height: 45px;
	background-image: none;
	background-color: #10c4c4;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 20px
	-webkit-box-shadow: 0px 0px 31px -11px rgba(34, 60, 80, 0.2) inset;
-moz-box-shadow: 0px 0px 31px -11px rgba(34, 60, 80, 0.2) inset;
box-shadow: 31px 31px 31px 31px #969696 inset;

}
.asterisk{
	color: #10c4c4;
}

.legend{
	width: 150px;
	padding: 2px 10px 5px 10px;
	display: inline;
	margin-bottom: -3px;
	background-color: #10c4c4;
	color: #fff;
	margin: -30px 27px 0px 27px;
	text-transform: uppercase;
	font-size: 13px;

	}

	.legend, fieldset, input.btn{
		-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 3px 3px 0px rgba(34, 60, 80, 0.2);
	}

