/* Basic settings */
@font-face {
  font-family: 'ProximaNova_Rg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
}
h1,
p,
a {
  font-family: 'ProximaNova_Rg', sans-serif;
}
.section {
  /* Оформление блока преимуществ */
}
.section-1 {
  background: url("../img/section-1.jpg") center center no-repeat;
  background-size: cover;
}
.section-1 .my-button {
  padding: 1.5rem 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: #f7af01;
  color: #fff;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .section-1 .my-button {
    margin-top: 1rem;
  }
}
.section-1 .my-button:hover {
  background: #c48b01;
}
.section-1 .my-button:focu s {
  outline: none;
}
.section-1 a {
  width: 100%;
  font-family: 'ProximaNova_Rg', sans-serif;
  display: inline-block;
}
@media (max-width: 576px) {
  .section-1 a {
    text-align: center;
  }
}
.section-2 {
  text-align: center;
  font-size: 1.4rem;
}
.section-2 h2 {
  margin: 5rem;
  text-align: center;
  font-size: 3rem;
}
.section-2 h3 {
  font-size: 2rem;
  font-weight: bold;
}
.section-2 img {
  display: block;
  margin: 0 auto;
}
.section-2 .advantage {
  outline: none;
}
.section-2 .advantage-img {
  height: 8rem;
}
.section-2 p {
  margin: 0 auto;
  width: 80%;
}
.section-2 .prev {
  position: absolute;
  background: url('../img/advantages/left-arrow.svg') center no-repeat;
  background-size: 100%;
  border: none;
  outline: none;
  left: 5rem;
  right: inherit;
  top: 10%;
  width: 2rem;
  height: 4rem;
  z-index: 99;
}
.section-2 .next {
  position: absolute;
  background: url('../img/advantages/right-arrow.svg') center no-repeat;
  background-size: 100%;
  border: none;
  outline: none;
  left: inherit;
  right: 5rem;
  top: 10%;
  width: 2rem;
  height: 4rem;
  z-index: 99;
}
.wrap-block {
  text-align: right;
}
.phone {
  font-family: 'ProximaNova_Rg', sans-serif;
  color: #000000;
  font-weight: 900;
  font-size: 2rem;
  text-decoration: none;
}
.main-idea {
  margin: 10rem 0px 1rem 0px;
}
h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4rem;
}
@media (max-width: 992px) {
  h1 {
    font-size: 25px;
    text-align: center;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 6rem;
  padding: 3rem;
  background: #fff;
}
legend,
.label,
input,
button {
  font-family: 'ProximaNova_Rg', sans-serif;
  text-align: center;
  background-color: #fff;
}
form > div {
  display: flex;
  justify-content: center;
}
.label {
  padding: 0px 3px;
  line-height: 2rem;
  font-size: 1.3rem;
  background-color: #fff;
  position: absolute;
  margin-top: -1rem;
}
input {
  margin-bottom: 4rem;
  border: 2px solid #dbdbdb;
}
legend {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
input,
button {
  width: 260px;
  height: 5.6rem;
  border-radius: 0.6rem;
  border-color: #767676;
  margin-bottom: 2rem;
}
.promo-small {
  margin-top: -1.5rem;
}
.promo-text {
  margin: 3.5rem 0rem 5.5rem 0rem;
  font-family: 'ProximaNova_Rg', sans-serif;
  font-size: 2rem;
}
@media (max-width: 992px) {
  .promo-text {
    font-size: 1.7rem;
    text-align: center;
  }
}
.promo-cost {
  display: inline-block;
  margin-bottom: 4.5rem;
  padding: 1.8rem 3rem;
  background-color: #49bf15;
  text-align: center;
  font-family: 'ProximaNova_Rg', sans-serif;
  font-size: 1.7rem;
  color: #fff;
}
.promo-big {
  font-family: 'ProximaNova_Rg', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}
.promo-striction {
  margin-top: 2rem;
  margin-left: 9rem;
}
@media (max-width: 992px) {
  .main-idea {
    margin-top: 3rem;
    text-align: center;
  }
  form {
    margin-left: 0;
    width: 100%;
  }
}
